*{
    margin:0;
    padding: 0;
}

/* Début header*/
 header{
    background: yellow;
    height: 100px;
    margin-bottom: 15px;
}

div.header{
    background: blue;
    width: 1000px;
    height:100px;
    margin: 0 auto;

}
div.logo{
    background: red;
    width: 500px;
    height: 60px;
    float: left;

    }
    div.logo img{
        width: 50px;
        height: 50px;
    }
div.drapeau{
    background: orange;
    width: 500px;
    height: 60px;
    float: left;

}
.clear{
    clear: both;
}

nav{
    background: pink;
    width: 520px;
    height:40px;
    margin: 0 auto;
}
/*fin header*/
div#container1{
    background: black;
    width: 1000px;
    height: 800px;
    margin:0 auto;
}

div.gauche{
    background: green;
    width: 600px;
    height: 720px;
    float: left;
    }
    div.gauche_haut{
        background: pink;
        height: 180px;
        width: 600px;
    }
    div.gauche_milieu{
        background: purple;
        height: 180px;
        width: 600px;

    }
    div.gauche_bas{
        background: pink;
        height: 180px;
        width: 600px;
    }
    div.gauche_bas1{
        background: grey;
        height: 180px;
        width: 600px;
        margin-top: 80px;
    }
div.droit{
    background: blue;
    width: 400px;
    height: 800px;
    float:left;
    }
    div.droit_haut{
        background: orange;
        width: 400px;
        height: 250px;

    }
    div.droit_milieu{
        background: brown;
        width: 400px;
        height: 250px
    }
    div.droit_bas{
        background: #1288d1;
        width: 400px;
        height: 300px;
    }

footer{
    background: yellow;
    height: 100px;
    margin-top: 53px;

    }
    div.footer{
        background: brown;
        width: 1000px;
        height: 100px;
        margin: 0 auto;
    }
