table{
    border-collapse: collapse;/*détermine si les cellules sont cote a cote et ensemble*/
    /*ma propriété border-collapse détermine si les bordures sont séparées ou fusionnées*/
    width: 700px;
    margin: 0 auto;
    height: 100px;

}

th{
    background: #f40c80;

}

td,th{
    padding: 7px;
    border: 1px solid;
    text-align: center;
}
/*tableau s'utilise pour les newsletters et back office*/
/*th représente les entêtes/colonnes du tableau*/
/*tr représente une nouvelle ligne du tableau
td représente une nouvelle cellule du tableau
colspan permet de fusionner les cellules horizontalement
rowspan permet de fusionner les cellules verticalement
ma propriété border-collapse détermine si les bordures sont séparées ou fusionnées*/
