*{
    margin:0;
    padding:0;
}

}
body{
    font-family: sans-serif;

}
header{
    background-color: #eae3e3;
    height: 100px;
    margin-bottom: 20px;

}

#container{
    width: 1000px;
    height: 100px;
    /*background: purple;*/
    margin: 0 auto;/*Permet de centrer le bloc <div>*/

}
div.texthautD{
    width: 300px;
    height: 75px;
    float: left;
    text-align: right;
    /*background-color: blue;*/

 }

 div.texthautG{
     /*background-color: red;*/
     float: left;
     text-align: center;
     width: 700px;
     height: 75px;
}
.clear{
    clear: both;
}
 div#container div.texthautG p{
    margin-right: 515px;

 }

ul.listeG{
    border:0px;
}


/*Menu*/

nav{
margin:0 auto;
text-align: center;
/*width: 294px;*/


    }
    nav ul{
    margin: 0;
    padding:0;
    list-style-type: none;

    }

    nav li{
    display: inline-block;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 0 20px 0 0;
    ;
}
ul.menu{
    border: 0px;
}



section{
    width: 1192px;
    min-height: 700px;
    margin: 0 auto;
}


div#milieugauche{
    height: 1000px;
    width: 500px;
    /*background-color: yellow;*/
    float: left;
}

/*#milieugauche p#fiche{
    /*background:url("img/fiche.jpg") no-repeat;/* permet de mettre une image à côté du texte*/
    padding-left: 70px;
}*/

div.textG{
    /*background: green;*/
    display: inline-block;
    }
     div#milieugauche div.textG img{
         float: left;
         margin-left: 0;
        padding-left: 0;
     }
     div#milieugauche div.textG p#fiche{
         padding-left: 67px;
        padding-top: 21px;
     }
     div#milieugauche p{
    padding-top: 25px;
     }



div.listG{
    border: 0px;
}



section h4{
    text-align: center;
    color:#91dee2;
    border: 0px;
}


div.milieudroit{

    width: 500px;
    float: left;
    margin-top: 56px;
}





/*h4{

	text-align: center;
	margin-bottom: 0px;
	border-radius: 2px 4px 2px 2px;
    border-bottom: 1px solid gray;
}
*/
div#container div.texthautG h3{
    margin-right: 499px;
}

.milieudroit .tbl1{
    width:300px;
    /*border: 1px solid gray;*/
    margin-bottom: 30px;
    float: right;
}
 div.milieudroit div#t2.tbl1 ul{
     padding-left: 57px;
     }
     div.milieudroit div#t1.tbl1{
     padding-bottom: 20px;

    }

 div.milieudroit div#t1.tbl1 p{
       padding-left: 36px;
       padding-top: 17px;
}

 div.milieudroit div#t3.tbl1 p{
     padding-left: 40px;
}

/*div.milieudroit div#t1.tbl1,div.milieudroit div#t2.tbl1,div.milieudroit div#t3.tbl1{
    border-radius: 6px;*/
input{
    width: 218px;
    height: : 17px
}

div.carte{
    float: left;
}

footer{
    /*background: yellow;*/
    position:
    height: 100px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #eae3e3;
    margin-top: 366px;
}
footer div.container2{
     padding-top: 53px;
}
 footer div.container2 span{
     color: gray;
 }

 div#milieugauche div.formulaire{
    height: 443px;
    margin-top: 150px;
    width: 493px;
}

iframe{
    float: right;
    margin-bottom: 46px;
    /*margin-top: -162px;*/
    padding-bottom: 0;
    border: 0 none;
    margin-top: -246px;
}


div.milieudroit img{
padding-left: 0;
padding-right: 3px;
border-top-width: 23px;
margin-left: -28px;
margin-top: 104px;
}

 div.carte{
     float: right;
 }

 small{
float: right;
 border-left-width: 0px;
margin-left: -3px;
margin-top: 128px;
padding-left: 8px;
padding-right: 0px;

}
