
            .conteneur{
                width: /*1000px*/80%;
                background: #40A497;
                margin: 0 auto;
                color: #fff;
            }
            header{
                min-height: 80px;/*15vh*/
                background: #A4409A;

            }
            nav{
                min-height: 30px;/*5vh*/
                background: yellow;
            }
            section{
                background: purple;
                min-height: 500px;/*50%*/
            }

            .a,.c,.e,.g{
                width: 25%/*250px*/;
                float: left;
                min-height: 200px;

            }
            .b,.f{
                width: /*500px*/50%;/*25%*/
                float:left;
                min-height: 200px;/*20vh*/
            }

            .d{
                width: /*1000px*/100%;
                float: left;
                min-height: 200px;/*20vh*/
            }
            .a{
                background: red;
            }
            .b{
                background: blue;
            }

            .c{
                background: brown;
            }
            .d{
                background: pink;
            }

            .e{
                background: red;
            }
            .f{
                background: blue;
            }
            .g{
                background: brown;
            }

            footer{
                min-height: 60px;/*15vh*/
                background: #E80B28;
                margin: 0 auto;
                width: /*1000px*/80%;
            }

            .clear{
                clear: both;
            }

/********************* Partie adaptative *****************************/






/*corrigée
@media screen and (max-width:750px){
#conteneur{width:750px;}
.a,.e{width:355px}
.b,.f{width:355px}
section,footer,nav,header,.c,.d,.g,.conteneur{width:710px;}
}

@media screen and (max-width:780px){
#conteneur{width:550px}
.a,.e{width:255px}
.b,.f{width:255px}
section,footer,nav,header,.c,.d,.g,.conteneur{width:510px;}

}

@media screen and (max-width:510px){
#conteneur{width:100%;}
.a,.b,.c,.d,.e,.f,.g{width:100%; height:125px}
section{margin:0;}
}


/******************* partie fluid*******************************/
/*il faut  remplacer les tailles des largeurs en  px en % en divisant par 10.
Elles sont en commentaires à cote des valeurs réelles ou en adaptative*/
