/*.container{
    padding-left: 30em;
}*/
*{
    padding: 0;
    margin: 0;
}

.container{}



body{

    height: 100vh;
    width:100vw;
}

header{
    height: 14vh;
    background: red;
    margin: 0 auto;

}

#bande{/* bande de couleur pour la déco*/
    background: yellow;
    height: 1em;
}
nav{
    background: yellow;
    border: 1px solid;
    height: 4vh;
    margin: 0 auto;
    padding-top: 14px;
}
section{
    background: url("../img/fond_urbain.gif");
    background-repeat:round;
    height:1000px;
    margin: 0 auto;
    margin-top: 182px;
    margin-left: 492px;

}
   /* background: purple;*/
.illustration{
    margin-top: 8vh;
}
fieldset{

    width: 50em;
    height: 30em;
}


.text{
    border: 1px solid;
    padding: 5px;
    width: 157px;
    margin-left: 0px;
    margin-top: 106px;
}

a span{
    margin-left:42px;
    border-right: 1px solid yellow;
    padding-top: 5vh;
    padding-right: 14px;
}
footer{
    background: yellow;
    height: 14vh;
    margin-top: 3vh;
}
