/*.container{
    padding-left: 30em;
}*/
*{
    padding: 0;
    margin: 0;
}
/*.container{
    max-width: 1000px;
    max-height: 1000px;
}
*/

body{

    height: 100vh;
    width:100vw;
}
header{
    width: 1049px;
    height: 140px;
    background: red;
    margin: 0 auto;
}

section{
    /*background: url("../img/bg.gif");*/
    /*background-repeat: no-repeat;*/
    height:1000px;
    margin: 0 auto;
    margin-top: 10vh;
}

.text{
    border: 1px solid;
    padding: 5px;
    width: 157px;
    margin-left: 139px;
    margin-top: 58px;
}




footer{
    width: 1000px;
    height: 140px;
    background: yellow;
    margin: 0 auto;
}
